
<link href="/datatables.min.css" rel="stylesheet"/>

<main class="main-wrap">
<section class="content-main">
    <div class="content-header">
        <%if(orders.length == 0){%>
            <div>
                <h2 class="content-header">No Orders Found</h2>
               
            </div>
            <%}else{%>
        <div>
            <h2 class="content-title card-title">Order List </h2>
           
        </div>
        
        <!-- <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card mb-4">
        <!-- <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>  -->
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover" id="myTable">
                    <thead class="text-start">
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Total</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%orders.forEach(item=>{%>

                        <tr>
                            <td><%=item._id%></td>
                            <td><b><%=item.userId.name%></b></td>
                            <td><span><%=item.userId.email%></span></td>
                            <td><span><%=item.userId.phone%></span></td>
                            <td>₹<%=item.totalAmount%></td>
                            <%if(item.paymentSatus == "pending"){%>
                            <td class="text-center"><span class="badge rounded-pill alert-warning"><%=item.paymentStatus%></span></td>
                            <%}else{%>
                            <td class="text-center"><span class="badge rounded-pill alert-success"><%=item.paymentStatus%></span></td>
                            <%}%>
                            <td><%= new Date(item.createdAt).toLocaleString('en-US', {
                                month: 'short',
                                day: 'numeric',
                                year: 'numeric',
                                hour: 'numeric',
                                minute: 'numeric',
                                hour12: true
                              }) %></td>
                            <td class="text-center">
                                <a href="/admin/order-details/<%=item._id%>" class="btn btn-md rounded font-sm">Details</a>
                            </td>
                        </tr>
                        <%})%>
                     
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div> -->
  
    <%}%>
</section>
</main>

<script>
 $(document).ready(function() {
   
     var scriptPromise = $.getScript("/datatables.min.js");
    


  scriptPromise.done(function() {
    $('#myTable').DataTable();
  });

  scriptPromise.fail(function() {
    console.error("Failed to load DataTables script.");
  });
});

  </script>
