<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>


<style>
span.wallet {
    margin-top: 10px;
  }



    .hover-div {
        border-top: 1px solid #f8f8f8;
        background: #f8f8f8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: 10px 0px;
    }
    .hover-div {
        border-top: 1px solid #f8f8f8;
        background: #f8f8f8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        padding: 10px;
    }
    
    .hover-div:hover {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
        box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
        cursor: pointer;
        border-radius: 5px;
    }
    .address-button{
    border-width: inherit;
    background-color: white;
  }
  .bi-pen-fill::before{
    color: darkcyan;
  }
  .bi-trash3-fill::before {
    color: darkcyan;
    content: "\f78a";
}
   
</style>
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="  dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>My Profile</a>
                                </li>
                                <!--  -->
                                <li class="nav-item">
                                  <a class="nav-link " id="wallet-tab" data-bs-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="false"><i class="fi-rs-money mr-10"></i>Wallet</a>
                              </li>
                                <!--  -->
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                </li>
                              
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="change-password tab" data-bs-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="true"><i class="fi-rs-user mr-10"></i>Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                          <div class="tab-content dashboard-content">
                            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="card hover-div ">
                                  <% if(errMessage != ""){ %>
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="padding: 10px;">
                                      <%=  errMessage %>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem;">
                                      </button>
                                    </div>
                                 <% } %>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5 class="mx-4 mb-0"><%=user.name%></h5>
                                    </div>
                                    <div class="card-body" >
                                      <div class="d-flex align-items-center justify-content-between">

                                        <p><%=user.email%>|<%=user.phone%></p>
                                      
                                        <button class="address-button" data-toggle="modal" data-target="#card-profile" onclick=" toggleprofileCard()"><i class="bi bi-pen-fill"></i></button>
                                    </div>
                                    </div>
                                    <!--  -->
                                    <div class="card"  id="card-profile" style="display: none;">
                                      <div class="card-header">
                                          <h5>Edit Profile</h5>
                                      </div>
                                      <div class="card-body">
                                          <div class="row">
                                              <form id="editprofile" onsubmit="return profileValidation()" >
                                                  <div class="mb-3">
                                                    <label class="form-label" for="inputUserName">User Name</label>
                                                    <input type="text" name="username" class="form-control" id="profileName" onkeyup="validateProfileName()" value="<%=user.name%>">
                                                    <span id="nameError" class="text-danger"></span>
                                                    
                                                  </div>
                                                  <div class="mb-3">
                                                    <label class="form-label" for="inputEmail">Email</label>
                                                    <input type="email" name="email" id="profileEmail" class="form-control" onkeyup="validProfileEmail()" value="<%=user.email%>">
                                                    <span id="emailError" class="text-danger"></span>
                                                  </div>
                                                  <div class="mb-3">
                                                    <label class="form-label" for="inputPhoneNumber">Phone Number</label>
                                                    <input type="tel" name="phonenumber" class="form-control" id="profilenumber" onkeyup="validProfilenumber()" value="<%=user.phone%>">
                                                    <span id="phoneError" class="text-danger"></span>
                                                  </div>
                                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                                </form>
                                          </div>
                                      </div>
                                  </div>
                                    <!--  -->
                                </div>
                             </div>
                             <div class="tab-pane fade " id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
                              <div>
                                <div class="card">
                                 
                                  <div class="card-header">
                                   <h4>Wallet</h4> 
                                  </div>
                                  <div class="card-body">
                                    <blockquote class="blockquote">
                                      <span>Total Wallet Balance</span>
                                      <%if(wallet){%>
                                        <span class="wallet">₹<strong><%=wallet.walletAmount%></strong></span>
                                        <div>
                                          <%wallet.transactions.forEach(item=>{%>
                                            <span class="wallet">Credited:₹<%=item.amount%></span>
                                            <span class="wallet">On:<%= new Date(item.date).toLocaleString('en-US', {
                                              month: 'short',
                                              day: 'numeric',
                                              year: 'numeric',
                                              hour: 'numeric',
                                              minute: 'numeric',
                                              hour12: true
                                            }) %></span><br>

                                          <%})%>
                                        </div>
                                        <%}else{%>
                                          <span>₹ 0</span>
                                          <%}%>
                                     
                                     
                                    </blockquote>
                                  </div>
                                </div>
                              </div>
                              </div>
                            <div class="tab-pane fade " id="orders" role="tabpanel" aria-labelledby="orders-tab">
                              <%if(orders.length == 0){%>
                                <div class="card-header">
                                  <h5 class="mb-0">You have no Orders</h5>
                              </div>
                              <%}else{%>
                                <div class="card  " style="width: 900px;">
                                 
                                  
                                    <div class="card-header">
                                        <h5 class="mb-0">Your Orders</h5>
                                    </div>
                                    <div class="card-body ">
                                        <div class="table-responsive">
                                            <table class="table table-wishlist table-mobile mt-5">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th>Order Id</th>
                                                        <th>Payment Status</th>
                                                        <th>Order Date</th>
                                                        <!-- <th>Status</th> -->
                                                       
                                                    </tr>
                                                </thead>                                             
                                               <tbody class="text-center p-2 m-2">
                                                <div class="container">
                                                  <% orders.forEach(order => { %>
                                                   
                                                      <tr class="hover-div" >
                                                        <td ><a href="/order/<%= order._id %>"><%= order._id %></a></td>
                                                        <% if (order.paymentStatus == "pending") { %>
                                                          <td class="text-danger"><%= order.paymentStatus %></td>
                                                        <% } else { %>
                                                          <td class="text-success"><div class="p-2"><%= order.paymentStatus %></div></td>
                                                        <% } %>
                                                        <td><div class="p-2"><%= new Date(order.createdAt).toLocaleString('en-US', {
                                                          month: 'short',
                                                          day: 'numeric',
                                                          year: 'numeric',
                                                          hour: 'numeric',
                                                          minute: 'numeric',
                                                          hour12: true
                                                        }) %></td></div>
                                                    
                                                      </tr>
                                                   
                                                  <% }) %>
                                                </div>
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                                </div>
                                <%}%>
                            </div>
                            
                            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <% for (let i=0; i < address.length; i++) { %>
                                <div class="card m-3 mb-lg-0 border-0">
                                    <div class="col-12 col-md-12">
                                        <div class="product-body hover-div">
                                            <div class="row ">
                                                <div class="col-9">
                                                    <p><%=address[i].radio%></p>
                                                    <p style="font-weight:bold;"><%= `${address[i].firstname} ${address[i].lastname}` %></p> 
                                                </div>
                                            </div>
                                             <div class="row"> 
                                                    <div class="col-9">
                                                           <p><%= address[i].mobile%>| <%=address[i].email%></p>  
                                                           <p><%= address[i].streetaddress %></p> 
                                                           <p><%= address[i].appartment %></p> 
                                                           <p><%= address[i].state %>,<%= address[i].town %></p>
                                                           <p> <%= address[i].zip %></p>
                                                    </div>
                                                    <div class="col-3 d-flex align-items-end justify-content-end">
                                                        <button class="address-button" ><a href="/edit-address/<%= address[i]._id %>" class="p-2"><i class="bi bi-pen-fill"></i></a></button>
                                                        <button class="address-button" onclick=" deleteAddress('<%= address[i]._id %>')"><i class="bi bi-trash3-fill"></i></button>
                                                    </div>
                                                  
                                             </div>
                                        </div><!-- End .product-body -->
                                     </div>
                                </div>
                            <%}%>
                            </div>
                            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#card-address" onclick=" toggleAddCard() "> ADD ADDRESS</button>
                            <div class="card " id="card-address" style="display: none;">
                                <div class="card-header">
                
                                  <h5 class="card-title mb-0">Add Address</h5>
                                </div>
                                <div class="card-body ">
                                  <form  id="addAddress" onsubmit="return validation()" >
                                    <div class="row">
                                    <div class="mb-3 col-md-6">
                                      <label class="form-label" for="inputEmail4">First Name*</label>
                                      <input type="text" class="form-control" name="firstname" placeholder="" id="Name" onkeyup="validateName()" required>
                                      <span id="name" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label" for="inputEmail4">Last Name*</label>
                                        <input type="text" class="form-control" name="lastname" placeholder="" id="lastName" onkeyup="validateLastName()" required >
                                        <span id="lastname" class="text-danger"></span>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                           <label class="form-label" for="inputEmail">Email Address*</label>
                                           <input type="text" class="form-control" name="email" placeholder="" id="Email" onkeyup="validEmail()" required>
                                           <span id="email" class="text-danger"></span>
                                         </div>
                                         <div class="mb-3 col-md-6">
                                           <label class="form-label" for="inputPhone">Phone*</label>
                                           <input type="text" class="form-control" name="mobile" placeholder="" id="phonenumber" onkeyup="validPhonenumber()" required>
                                           <span id="phonenumbers" class="text-danger"></span>
                                         </div>
                                   </div>
                                    <div class="row">
                                         <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputStreetAddress">Street Address*</label>
                                            <input type="text" class="form-control" name="streetAddress" placeholder="" required>
                                          </div>
                                          <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputAppartment">Appartment*</label>
                                            <input type="text" class="form-control" name="appartment" placeholder="" required>
                                          </div>
                                     </div>
                                    <div class="row">
                                      <div class="mb-3 col-md-6">
                                        <label class="form-label" for="inputCity">Town / City*</label>
                                        <input type="text" class="form-control" name="town" required>
                                      </div>
                                      <div class="mb-3 col-md-4">
                                        <label class="form-label" for="inputState">State*</label>
                                        <input type="text" class="form-control" name="state" required>
                                      </div>
                                      <div class="mb-3 col-md-2">
                                        <label class="form-label" for="inputZip">Zip*</label>
                                        <input type="text" class="form-control" name="zip" required>
                                      </div>
                                      <div class="mb-3">
                                        <label class="form-label" for="type">Type of address?*</label>
                                        <div>
                                          <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radio" value="Home" required>
                                            <span class="form-check-label">
                                              Home
                                            </span>
                                          </label>
                                          <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radio" value="Office" required>
                                            <span class="form-check-label">
                                              Office
                                            </span>
                                          </label>
                                        </div>
                
                                      </div>
                                    </div>
                                    <button type="submit" id="save-button-address"  value="Submit" class="btn btn-primary">Save</button>
                                  </form>
                
                                </div>
                            </div>                                    
                           
                         </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                          <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password tab">
                                <div class="card " style="max-width: 400px;">
                                    <div class="card-header">
                                        <h5>Change Password</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <form  id="changePassword" onsubmit="return validateChangePassword()">
                                                <div class="mb-3">
                                                  <label class="form-label" for="inputPasswordCurrent">Current
                                                    password</label>
                                                  <input type="password" name="currentpassword" id="currentpassword" class="form-control" onkeyup="currentPassword()">
                                                  <span id="passwordError" class="text-danger"></span>

                                                </div>
                                                <div class="mb-3">
                                                  <label class="form-label"  for="inputPasswordNew">New password</label>
                                                  <input type="password" id="newpassword" name="newpassword" class="form-control" onkeyup="newPassword()">
                                                  <span id="newpasswordError" class="text-danger"></span>

                                                </div>
                                                <div class="mb-3">
                                                  <label class="form-label" for="inputPasswordNew2">Verify password</label>
                                                  <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" onkeyup="confirmPassword()">
                                                  <span id="confirmError" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
<script>
  
function toggleAddCard() {
    var card = document.getElementById('card-address');
    if (card.style.display === 'none') {
      card.style.display = 'block';
    } else {
      card.style.display = 'none';
    }
  }
  function toggleEditCard(index) {
      const card = document.getElementById(`edit-address${index}`);
      if (card.style.display === "none") {
          card.style.display = "block";
      } else {
          card.style.display = "none";
      }
  }
  function toggleprofileCard() {
    const card = document.getElementById('card-profile');
    if (card.style.display === "none") {
        card.style.display = "block";
    } else {
        card.style.display = "none";
    }
}

  var errorName = document.getElementById('name')
  var errorEmail = document.getElementById('email')
  var errorPhonenumber = document.getElementById('phonenumbers')
  var errorLastName = document.getElementById('lastname')
  
  function validateName() {
      const name = document.getElementById('Name').value;
      if (name == "") {
          errorName.innerHTML = 'Enter your first name'
          return false
      }
      if (!name.match(/^[a-zA-Z ]*$/)) {
          errorName.innerHTML = 'Numbers are not allowed'
          return false
      }
      errorName.innerHTML = null
      return true
  }
  function validateLastName() {
      const lastname = document.getElementById('lastName').value;
      if (lastname == "") {
          errorLastName.innerHTML = 'Enter your last name'
          return false
      }
      if (!name.match(/^[a-zA-Z ]*$/)) {
          errorLastName.innerHTML = 'Numbers are not allowed'
          return false
      }
      errorLastName.innerHTML = null
      return true
  }


  function validEmail() {
      const email = document.getElementById('Email').value
      if (email == "") {
          errorEmail.innerHTML = "Enter your email address"
          return false
      }
      if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
          errorEmail.innerHTML = 'Enter a proper email address'
          return false
      }
      errorEmail.innerHTML = null
      return true
  }

    

   function validPhonenumber() {
      const mob = document.getElementById('phonenumber').value
      if (mob == "") {
          errorPhonenumber.innerHTML = "Enter a phonenumber"
          return false
      }
      if (mob.length < 10 || !mob.match(/^\d*$/)) {
          errorPhonenumber.innerHTML = "Please Enter the valid phone number"
          return false
      }

      if (mob.length > 10) {
          errorPhonenumber.innerHTML = "Please Enter the valid phone number"
          return false
      }
      errorPhonenumber.innerHTML = null
      return true
  }

  function validation() {
      if (!validateName() ||!validateLastName()|| !validEmail() || !validPhonenumber()) {
          return false
      }
      return true
  }

  const errorfirstname = document.getElementById('editfirst');
  const errorlastname = document.getElementById('editlast');
  const errorEditEmail = document.getElementById('editemail');
  const errorMobile = document.getElementById('editnumbers')

  function validateEditName(){
    const name = document.getElementById('editfirstname').value;
    if (name == "") {
        errorfirstname.innerHTML = 'Enter your first name'
        return false
    }
    if (!name.match(/^[a-zA-Z ]*$/)) {
        errorfirstname.innerHTML = 'Numbers are not allowed'
        return false
    }
    errorfirstname.innerHTML = null
    return true

  }
  function validateEditLastName(){
    const name = document.getElementById('editlastName').value;
    if (name == "") {
        errorlastname.innerHTML = 'Enter your first name'
        return false
    }
    if (!name.match(/^[a-zA-Z ]*$/)) {
        errorlastname.innerHTML = 'Numbers are not allowed'
        return false
    }
    errorlastname.innerHTML = null
    return true

  }
  function validEditEmail() {
    const email = document.getElementById('editEmail').value
    if (email == "") {
        errorEditEmail.innerHTML = "Enter your email address"
        return false
    }
    if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
        errorEditEmail.innerHTML = 'Enter a proper email address'
        return false
    }
    errorEditEmail.innerHTML = null
    return true
}
function validEditPhonenumber() {
    const mob = document.getElementById('editphonenumber').value
    if (mob == "") {
        errorMobile.innerHTML = "Enter a phonenumber"
        return false
    }
    if (mob.length < 10 || !mob.match(/^\d*$/)) {
        errorMobile.innerHTML = "Please Enter the valid phone number"
        return false
    }

    if (mob.length > 10) {
        errorMobile.innerHTML = "Please Enter the valid phone number"
        return false
    }
    errorMobile.innerHTML = null
    return true
}

  function editValidation(){
    if (!validateEditName() || !validateEditLastName() || !validEditEmail()|| !validEditEmail()) {
        return false
    }
    return true

  }
  const profileNameError = document.getElementById('nameError');
  const profileEmailError = document.getElementById('emailError');
  const profilePhoneError = document.getElementById('phoneError');
  function validateProfileName(){
    const name = document.getElementById('profileName').value;
    if (name == "") {
        profileNameError.innerHTML = 'Enter your first name'
        return false
    }
    if (!name.match(/^[a-zA-Z ]*$/)) {
        profileNameError.innerHTML = 'Numbers are not allowed'
        return false
    }
    profileNameError.innerHTML = null
    return true

  }
  function validProfileEmail() {
    const email = document.getElementById('profileEmail').value
    if (email == "") {
        profileEmailError.innerHTML = "Enter your email address"
        return false
    }
    if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
        profileEmailError.innerHTML = 'Enter a proper email address'
        return false
    }
    profileEmailError.innerHTML = null
    return true
}
function validProfilenumber() {
  const mob = document.getElementById('profilenumber').value
  if (mob == "") {
      profilePhoneError.innerHTML = "Enter a phonenumber"
      return false
  }
  if (mob.length < 10 || !mob.match(/^\d*$/)) {
      profilePhoneError.innerHTML = "Please Enter the valid phone number"
      return false
  }

  if (mob.length > 10) {
      profilePhoneError.innerHTML = "Please Enter the valid phone number"
      return false
  }
  profilePhoneError.innerHTML = null
  return true
}

function profileValidation(){
  if(!validateProfileName() ||validProfileEmail()||validProfilenumber() ){
    return false
  }
  return true
}

const errorPassword = document.getElementById('passwordError');
const newError = document.getElementById('newpasswordError')
const confirmError = document.getElementById('confirmError')

function currentPassword() {
  const psd = document.getElementById('currentpassword').value
  if (psd == "") {
      errorPassword.innerHTML = "Enter a password"
      return false
  }
  if (psd.length < 5) {

      errorPassword.innerHTML = "Enter a valid password"
      return false
  }
  errorPassword.innerHTML = null
  return true
}
function newPassword() {
  const psd = document.getElementById('newpassword').value
  if (psd == "") {
    newError.innerHTML = "Enter a password"
      return false
  }
  if (psd.length < 5) {

    newError.innerHTML = "Password should be more than five characters"
      return false
  }
  newError.innerHTML = null
  return true
}
function confirmPassword() {
  const cpsd = document.getElementById('newpassword').value
  const psd = document.getElementById('confirmpassword').value
  if(psd != cpsd){
    confirmError.innerHTML = "Password not matching"
      return false
  }
  if (cpsd == "") {
    confirmError.innerHTML = "Confirm your password"
      return false
  }
  confirmError.innerHTML = null
  return true
} 

function validateChangePassword(){
  if(!currentPassword() || !newPassword() || !confirmPassword()){
    return false;
  }
  return true
}





  $('#addAddress').submit((e)=>{
    console.log("haii im in");
    e.preventDefault()
    $.ajax({
        url:'add-address',
        type:'PATCh',
        data:$('#addAddress').serialize(),
        success:(response=>{
            if(response.status){
                Swal.fire({
                    icon: 'success',
                    title: 'Address addedd succesfully',
                    showConfirmButton: false,
                    timer: 1500
                 }).then(() => {
                    location.reload();
              });
             
             }
           
        })
    })
})
$('#editAddress').submit((e)=>{
    console.log("haii im editinggg");
    e.preventDefault()
    var addressId = $('#save-button-address').val();
    var formData = $('#editAddress').serialize();
    formData += '&addressId=' + encodeURIComponent(addressId);
    $.ajax({
        url:'/edit-address',
        type:'PATCH',
        data:formData,
        success:(response=>{
            if(response.status){
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Address edited succesfully',
                    showConfirmButton: false,
                    timer: 1500
                })
              .then(() => {
                 location.href = '/my-account'
              });
             }
           
        }) 
    })
})
function deleteAddress(id){
  let address = {}
  address.id = id
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#4CAF50',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url:'delete-address',
        type:'DELETE',
        data:address,
        success:(response=>{
          if(response.status){
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Address deleted succesfully',
              showConfirmButton: false,
              timer: 1500
          }).then(()=>{
            location.href = '/my-account'
          })
        }
        })
      })
    }
  })
}
 
$('#editprofile').submit((e)=>{
  console.log("haii im editing the profile");
  e.preventDefault()
  var formData = $('#editprofile').serialize();
  $.ajax({
    url:'edit-profile',
    type:'PATCH',
    data:formData,
    success:(response=>{
      if(response.status){
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Profile edited succesfully',
          showConfirmButton: false,
          timer: 1500
      }).then(()=>{
        location.href = '/my-account'
      })
    }else{
      location.href = '/my-account'
    }
    })
  })
})

$('#changePassword').submit(e=>{
  console.log("haii im changing passsword");
  e.preventDefault()
  var formData = $('#changePassword').serialize()
  $.ajax({
    url:'change-password',
    type:'PATCH',
    data:formData,
    success:(response=>{
      if(response.status){
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Password changed succesfully',
          showConfirmButton: false,
          timer: 1500
      }).then(()=>{
        location.href = '/my-account'
      })
      }else{
        Swal.fire({
          position: 'center',
          icon: 'error',
          title: 'password didnt match',
          showConfirmButton: false,
          timer: 1500
      })
      // .then(()=>{
     // location.href = '/my-account'
      // })
    }
    })
  })
})



</script>




